@import "./css/reset.css";
@import "./css/vars.css"; /*Haalt de waarden niet uit deze file dus heb de root hieronder gedefnieerd*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* background-color: var(--blue); */
  color: black;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}
/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

html,
body {
  height: 100%;
  font-family: Lato;
  font-weight: 400;
}

.page_btn {
  cursor: pointer;
  font-size: 1.8rem;
  font-family: Raleway;
}

.inactive {
  display: none !important;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

a {
  font-size: 1.6rem;
}

.center_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.page1 .page_btn,
.page3 .page_btn,
.page4 .page_btn {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 3rem;
  background: var(--darkpurple);
  background: linear-gradient(90deg, var(--darkpurple) 0%, var(--lightpurple) 100%);
  color: white;
  border-radius: 1rem 0 0 1rem;
  margin-top: 2rem;
  right: 0;
  bottom: 5rem;
  position: absolute;

  text-align: center;
  font-family: lato;
}

.variable_button {
  min-width: 30rem;
}

.constant_button {
  min-width: auto;
}

.page_btn:hover{
  background-image: url(./assets/img/button_bg.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
}

.language {
  cursor: pointer;
  text-align: center;
  font-weight: regular;
  padding: 1.5rem 8rem;
  border-radius: 1rem;
}

.language:hover {
  background-image: url(./assets/img/button_bg.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
}


.language:nth-of-type(2) {
  margin: 3rem 0;
}

.back_btn {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.sub_info {
  margin: 1rem 02rem 0;
  text-align: center;
  font-size: 1.6rem;
}

.logout {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.6rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.page_title {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
}

.cities {
  display: flex;
  justify-content: space-between;
}

.cities_nav {
  padding: 2rem;
}

.city {
  cursor: pointer;
  font-size: 1.6rem;
}

.route {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "route_name"
    "route_parameters"
    "route_startbtn";
}

.route_name {
  grid-area: route_name;
}

.route_parameters {
  grid-area: route_parameters;
}

.route_startbtn {
  grid-area: route_startbtn;
}

.arscene_div {
  width: 90%;
  height: 50rem;
  margin: 2rem 0;
  border: .2rem solid var(--darkpurple);
  border-radius: 1rem;
  overflow: hidden;
}

.arscene_iframe {
  width: 100%;
  height: 100%;
}

/* input{
  border: .2rem solid black;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
} */

.code_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  height: 8rem;
}

.code {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.7rem;
}

.char_btn {
  background-color: grey;
}

.clear_btn {
  background-color: red;
}

.delete_btn {
  background-color: orange;
}

.hidden{
  display: none;
}

.code_btn {
  font-family: Raleway;
  margin: 0.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 52rem;
  color: var(--lightpurple);
  font-size: 3rem;
  border: none;
  background-color: white;
}

.help_btn_code{
  padding: 1rem 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}

.extra_btn{
  font-weight: bold;
}

.clear_btn{
  color: var(--red);
}

.delete_btn{
  color: var(--yellow);
}

.code_input{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.character_btns {
  display: flex;
  flex-wrap: wrap;
  width: 28rem;
  position: absolute;
  bottom: 5rem;
}

.content{
  position: absolute;
  z-index: 1;
  background-color: rgba(255,255,255,.8);
  text-align: center;
  font-family: sans-serif;
  padding: 1rem 2rem;
  max-width: 20rem;
}

#map{
  height: 50rem;
  min-width: 0;
  max-width: 100%;
}

.active_city{
  color: var(--darkpurple);
  font-size: 2rem;
}

.city_link{
  cursor: pointer;
}

.choise_btn{
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
}

.arPage{
  height: 100%;
  display: flex;
  justify-content: center;
}

.head_title{
  font-family: Raleway;
  color: var(--darkpurple);
  font-size: 4rem;
  -webkit-text-shadow: -.1rem 0 0 0 rgba(255,255,255,1);
  -moz-text-shadow: -.1 0 0 0 rgba(255,255,255,1);
  text-shadow: -.1 0 0 #FFFFFF;
}

.btn_shadow{
  -webkit-box-shadow: 0 1.7rem 2.3rem -2.4rem rgba(110,110,110,1);
  -moz-box-shadow: 0 1.7rem 2.3rem -2.4rem rgba(110,110,110,1);
  box-shadow: 0 1.7rem 2.3rem -2.4rem rgba(110,110,110,1);
}

.page_title_small{
  font-family: Raleway;
  font-size: 2.5rem;
  color: var(--darkpurple);
}

.test_ar_div {
  margin-top: -5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neumorphism_box{
  border-radius: 2rem;
  background: #FFFFFF;
  -webkit-box-shadow:  1.2rem 1.2rem 2.4rem #c7c7c7, -1.2rem -1.2rem 2.4rem #ffffff;
  -moz-box-shadow:  1.2rem 1.2rem 2.4rem #c7c7c7, -1.2rem -1.2rem 2.4rem #ffffff;
  box-shadow:  1.2rem 1.2rem 2.4rem #c7c7c7, -1.2rem -1.2rem 2.4rem #ffffff;
}

.code{
  border: none;
  height: 6rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
}

.code_content{
  margin-top: -47rem;
}

.ar_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
}

.onboarding{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skip_onboarding_form{
  position: absolute;
  top: 3%;
  right: 3%;
}

.skip_onboarding_text{
  font-size: 1.8rem;
  cursor: pointer;
}
