@font-face {
  font-family: "Source Code Pro";
  src: url("Lato-Bold.woff2") format("woff2"),
    url("Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Bold.woff2") format("woff2"),
    url("Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.woff2") format("woff2"),
    url("Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
