@import './css/reset.css';
@import './css/vars.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.logo {
  height: 15rem;
  background-image: url(assets/img/logo.jpg);
  background-size: 18rem;
  background-position: center;
  background-repeat: no-repeat;
}

.img {
  width: 14rem;
  height: 14rem;
  background-image: url(assets/img/btn.jpg);
  background-size: 10rem;
  background-position: center;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/img/bg_intro.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 15rem;
}

p {
  font-size: 1.6rem;
  font-family: roboto slab;
  font-weight: 300;
  line-height: 1.4;
}

.links_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 40rem;
}

.italic {
  font-style: italic;
}

.cta {
  width: 40vw;
}

.btn_img {
  width: 100%;
}

.text {
  padding: 2rem;
}

.text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {

  .img {
    width: 25rem;
    height: 100%;
    justify-content: space-between;
    background-size: 100%;
  }

  .intro {
    height: 25rem;
    width: 100%;
    justify-content: space-around;
  }

  .text_box {
    flex-direction: row;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }

  .header {
    width: 100%;
    margin-bottom: 5rem;
  }

  .text {
    padding: 0;
  }

  .text {
    max-width: 60rem;
  }

  .main_form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .field {
    display: flex;
    flex-direction: row;
  }

  .input_field {
    width: 100%;
  }

  .full_width {
    width: 100%;
  }

  .heading_form {
    display: flex;
    justify-content: space-around;
  }

  form {
    padding: 3rem;
    border: .3rem solid black;
    border-radius: 2rem;
  }
}
