:root {
  --black: #090909;
  --grey: #f9f9f9;
  --darkpurple: #733fcd;
  --lightpurple: #9557e4;
  --red: #ff0031;
  --lightred: #ff5172;
  --green: #7bc88f;
  --lightgreen: #9ad7aa;
  --yellow: #ffba00;
  --lightyellow: #ffd35c;
}
