:root {
  --black: #090909;
  --grey:#F9F9F9;
  --darkpurple: #733FCD;
  --lightpurple: #9557E4;
  --red: #FF0031;
  --lightred: #FF5172;
  --green: #7BC88F;
  --lightgreen: #9AD7AA;
  --yellow: #FFBA00;
  --lightyellow: #FFD35C;
}
